@model IEnumerable<NoteArchive.Models.Note>
@using System.Security.Claims

<div class="row">

<form asp-action="Index" method="get" class="mb-4">

    <div class="input-group">

        <input type="text"
               name="searchString"
               class="form-control"
               placeholder="Search notes..." />

        <button type="submit"
                class="btn btn-primary">
            Search
        </button>

    </div>
</form>

@if (User.Identity!.IsAuthenticated)
{
    <div class="col-md-3 mb-4">
        <a asp-action="Create"
           class="text-decoration-none text-dark">

            <div class="card h-100 d-flex
                        justify-content-center
                        align-items-center"
                 style="height:100%; min-height:420px;">

                <div style="font-size:80px;">
                    +
                </div>
            </div>
        </a>
    </div>
}

@foreach (var item in Model)
{
    <div class="col-md-3 mb-4">

        <div class="card h-100">

            @{
                var preview = item.Images?.FirstOrDefault();
            }

            @if (preview != null)
            {
                <img src="@preview.ImagePath"
                     class="card-img-top"
                     style="height:300px; object-fit:cover;" />
            }

            <div class="card-body">

                <h5>@item.Title</h5>

                <p>@item.Author</p>

                <a asp-action="Details"
                   asp-route-id="@item.ID"
                   class="btn btn-primary">
                    Open
                </a>

                @if (
                    User.IsInRole("Administrator")
                    || User.FindFirstValue(ClaimTypes.NameIdentifier) == item.UserID
                )
                {
                    <a asp-action="Delete"
                       asp-route-id="@item.ID"
                       class="btn btn-danger">
                        Delete
                    </a>
                }

            </div>
        </div>
    </div>
}
</div>